<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.595426793312-45qv7fttusn55km8l5m60lln0amfi5rf</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.595426793312-45qv7fttusn55km8l5m60lln0amfi5rf</string>
			</array>
		</dict>
	</array>
	<key>STOREKIT_CREDITS_LARGE_PRODUCT_ID</key>
	<string>com.stressmonitor.app.credits.large</string>
	<key>STOREKIT_CREDITS_SMALL_PRODUCT_ID</key>
	<string>com.stressmonitor.app.credits.small</string>
	<key>STOREKIT_PREMIUM_ANNUAL_PRODUCT_ID</key>
	<string>com.stressmonitor.app.premium.annual</string>
	<key>STOREKIT_PREMIUM_MONTHLY_PRODUCT_ID</key>
	<string>com.stressmonitor.app.premium.monthly</string>
	<key>STOREKIT_PREMIUM_SUBSCRIPTION_GROUP_ID</key>
	<string>SMPREMIUM01</string>
	<key>STOREKIT_PREMIUM_WEEKLY_PRODUCT_ID</key>
	<string>com.stressmonitor.app.premium.weekly</string>
</dict>
</plist>
